<%= link_to "New photo", new_photo_path, class: "btn btn-primary" %>
  
 <% @photo.each do |photo| %>
    <div class ="card photo">
      <div class="card-header"> 
        <%= photo.username  %>
        <%= time_ago_in_words photo.updated_at %>
      </div>
     <%= image_tag photo.url, class: "card-img-top", alt:"photo" %>
     <div class="card-block">
      <p class="card-text">
        <%= photo.caption %>
      </p>
     </div>
    </div>
 <% end %>
   

